<a href="https://colab.research.google.com/github/digipodium/DP-JUN-ML-200-MTTF/blob/master/ANN_22_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('https://raw.githubusercontent.com/digipodium/Datasets/main/classfication/diabetes.csv')

In [29]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [31]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [32]:
X = df.drop('Outcome',axis=1)
X.shape

(768, 8)

In [33]:
y = df['Outcome']

In [34]:
tf.__version__ # not a necessary step

'2.8.2'

In [35]:
# from tensorflow.keras.models import Sequential

In [36]:
model = tf.keras.models.Sequential()

In [37]:
model.add(tf.keras.layers.Dense(12, activation='relu', input_shape=(8,))) # first layer will have input_shape

In [38]:
model.add(tf.keras.layers.Dense(8, activation='relu'))

In [39]:
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [40]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [ ]:
model.summary()

In [42]:
history = model.fit(x=X, y=y, batch_size=8, epochs=200)

96/96 [==============================] - 0s 2ms/step - loss: 0.4712 - accuracy: 0.7747

In [ ]:
pd.DataFrame(history.history).plot(subplots=True,layout=(1,2),figsize=(20,6))
plt.show()

In [44]:
df['Pred'] = model.predict(X)

In [49]:
df['PredClass'] = (df['Pred'] > 0.5).astype(int)

In [51]:
from sklearn.metrics import confusion_matrix, classification_report

In [52]:
print(confusion_matrix(y,df['PredClass'].values))

[[470  30]
 [147 121]]

In [53]:
print(classification_report(y,df['PredClass'].values))

              precision    recall  f1-score   support

           0       0.76      0.94      0.84       500
           1       0.80      0.45      0.58       268

    accuracy                           0.77       768
   macro avg       0.78      0.70      0.71       768
weighted avg       0.78      0.77      0.75       768